In [1]:
import pandas as pd

In [2]:
def replace_(x):
    try:
        x = x.replace('\r',' ')
        return x.replace('\n',' ')
    except:
        return x

In [3]:
df = pd.read_csv('reviews_.csv')
df.reviews = df.reviews.apply(replace_)

In [4]:
df0 = pd.read_csv('reviews_0.csv')
df0.reviews = df0.reviews.apply(replace_)

In [5]:
df2 = pd.read_csv('reviews_2.csv')
df2.reviews = df2.reviews.apply(replace_)

In [6]:
df1 = pd.read_csv('reviews_1.csv')
df1.reviews = df1.reviews.apply(replace_)

In [7]:
df4 = pd.read_csv('reviews_4.csv')
df4.reviews = df4.reviews.apply(replace_)

In [8]:
df5 = pd.read_csv('reviews_5.csv')
df5.reviews = df5.reviews.apply(replace_)

In [9]:
df[:5] #0-100

,attractions,reviews
0,Sydney_Harbour-Sydney_New_South_Wales,"Apart from the mass tourist population, this i..."
1,Sydney_Harbour-Sydney_New_South_Wales,Iconic sightseeing of the harbour area includi...
2,Sydney_Harbour-Sydney_New_South_Wales,Beautiful harbour. Good to go at daytime or ni...
3,Sydney_Harbour-Sydney_New_South_Wales,We took a tour with Grayline which included lu...
4,Sydney_Harbour-Sydney_New_South_Wales,Visit the Harbor multiple times to get great a...

In [10]:
df0[:5] #100-500

,attractions,reviews
0,Angkor_Thom-Siem_Reap_Siem_Reap_Province,Angkor Thom is one of the iconic sites around ...
1,Angkor_Thom-Siem_Reap_Siem_Reap_Province,Extraordinary temple in the Angkor Wat complex...
2,Angkor_Thom-Siem_Reap_Siem_Reap_Province,You must definitely go to this site. The tower...
3,Angkor_Thom-Siem_Reap_Siem_Reap_Province,Such a fantastic place to walk round. As is ou...
4,Angkor_Thom-Siem_Reap_Siem_Reap_Province,Found this to be more stunning and quieter tha...

In [11]:
df1[:5] #500-1000

            attractions                                            reviews
0  Safari_World-Bangkok   This is very nice place for full day and good...
1  Safari_World-Bangkok   Only kids will enjoy. Shows are prescheduled ...
2  Safari_World-Bangkok  This is very nice place for full day and good ...
3  Safari_World-Bangkok  Only kids will enjoy. Shows are prescheduled a...
4  Safari_World-Bangkok  I will like to suggest buying the tickets only...

In [12]:
df2[:5] #1000-1500

,attractions,reviews
0,Torres_del_Paine_National_Park-Puerto_Natales_...,Try to be in good shape. This was amazing. We ...
1,Torres_del_Paine_National_Park-Puerto_Natales_...,We did the w trek on our honeymoon and organiz...
2,Torres_del_Paine_National_Park-Puerto_Natales_...,We visited Torres del Paine in October - a lit...
3,Torres_del_Paine_National_Park-Puerto_Natales_...,It's really worth a hustle . Don't pay for gui...
4,Torres_del_Paine_National_Park-Puerto_Natales_...,Did the one day 23 km hike up to the lake at t...

In [13]:
df4[:5] #1500-2000

,attractions,reviews
0,Plovdiv_Old_Town-Plovdiv_Plovdiv_Province,I would recommend just wandering....the cobble...
1,Plovdiv_Old_Town-Plovdiv_Plovdiv_Province,Spent a good few hours exploring the old town....
2,Plovdiv_Old_Town-Plovdiv_Plovdiv_Province,"Lovely day trip, but you def need good walking..."
3,Plovdiv_Old_Town-Plovdiv_Plovdiv_Province,Plovdiv The old town is simply facinating with...
4,Plovdiv_Old_Town-Plovdiv_Plovdiv_Province,Magnificent view over Povdiv - ancient Roman t...

In [14]:
df5[:5] #2000-

,attractions,reviews
0,Cismigiu_Gardens-Bucharest,If you want a quiet(er) place to relax or take...
1,Cismigiu_Gardens-Bucharest,Nice gardens and lake. Lots of ice cream stand...
2,Cismigiu_Gardens-Bucharest,"Lovely park with a small lake, and in addition..."
3,Cismigiu_Gardens-Bucharest,This is a very peaceful park in the midst of a...
4,Cismigiu_Gardens-Bucharest,"The gardens are lovely, offering a great place..."

In [15]:
df = df.append(df0)
df = df.append(df1)
df = df.append(df2)
df = df.append(df4)
df = df.append(df5)

In [16]:
df.shape

(1299450, 2)

In [17]:
df = df.drop_duplicates()

In [18]:
df.shape

(1001171, 2)

In [19]:
df.to_csv('reviews.csv')

In [13]:
df_ = pd.read_csv('reviews_.csv')

In [14]:
df_ = df_.append(df)

In [15]:
df_.shape

(1143453, 2)

In [16]:
df_.describe()

,attractions,reviews
count,1143453,1143401
unique,1674,883591
top,The_Norwegian_Museum_of_Cultural_History-Oslo_...,"Dear Guest, Thank you for your review on TripA..."
freq,5010,446

In [ ]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
      'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [ ]:
df_numbers = pd.DataFrame(d)

In [ ]:
df_numbers

In [ ]:
df_numbers = df_numbers.fillna(3.0)

In [ ]:
df_numbers.drop_duplicates()

In [ ]:
df_numbers.two.loc['d'] = 3.0

In [ ]:
df_numbers.drop_duplicates()

In [17]:
df_reviews = df_.copy()

In [17]:
df_.shape

(1143453, 2)

In [18]:
df_ = df_.drop_duplicates()

In [19]:
df_.shape

(883965, 2)

In [20]:
df_.reviews = df_.reviews.astype(str)
df_.attractions = df_.attractions.astype(str)

In [21]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 883965 entries, 0 to 304360
Data columns (total 2 columns):
attractions    883965 non-null object
reviews        883965 non-null object
dtypes: object(2)
memory usage: 20.2+ MB

In [22]:
import csv
import pandas as pd

import pyspark as ps    # for the pyspark suite

spark = ps.sql.SparkSession.builder \
            .master("local[4]") \
            .appName("df JulesVerne") \
            .getOrCreate()

sc = spark.sparkContext

In [23]:
spark.createDataFrame(df_)

DataFrame[attractions: string, reviews: string]

In [24]:
spark_df = _

In [25]:
spark_df.show()

+--------------------+--------------------+
|         attractions|             reviews|
+--------------------+--------------------+
|Sydney_Harbour-Sy...|Apart from the ma...|
|Sydney_Harbour-Sy...|Iconic sightseein...|
|Sydney_Harbour-Sy...|Beautiful harbour...|
|Sydney_Harbour-Sy...|We took a tour wi...|
|Sydney_Harbour-Sy...|Visit the Harbor ...|
|Sydney_Harbour-Sy...|This area, called...|
|Sydney_Harbour-Sy...|enjoy a champagne...|
|Sydney_Harbour-Sy...|went on a holiday...|
|Sydney_Harbour-Sy...|The Sydney Harbou...|
|Sydney_Harbour-Sy...|I have always wan...|
|Sydney_Harbour-Sy...|Always special, l...|
|Sydney_Harbour-Sy...|A must see while ...|
|Sydney_Harbour-Sy...|Don't really know...|
|Sydney_Harbour-Sy...|Loved our visit t...|
|Sydney_Harbour-Sy...|Recommend catchin...|
|Sydney_Harbour-Sy...|I have seen a num...|
|Sydney_Harbour-Sy...|Located by many g...|
|Sydney_Harbour-Sy...|Sydney Harbour is...|
|Sydney_Harbour-Sy...|Fantastic trip. B...|
|Sydney_Harbour-Sy...|So love Sydney Ha...|
+--------------------+--------------------+
only showing top 20 rows

In [34]:
df_sydney = spark_df.filter(spark_df.attractions == 'Sydney_Harbour-Sydney_New_South_Wales')

In [26]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import ArrayType, StringType
import string
import unicodedata

import nltk

from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk.util import ngrams
from nltk import pos_tag
from nltk import RegexpParser

from pyspark.ml.feature import CountVectorizer
from pyspark.ml.feature import IDF

import sys

def extract_bow_from_raw_text(text_as_string):
    """Extracts bag-of-words from a raw text string.
    Parameters
    ----------
    text (str): a text document given as a string
    Returns
    -------
    list : the list of the tokens extracted and filtered from the text
    """
    if (text_as_string == None):
        return []

    if (len(text_as_string) < 1):
        return []

    if sys.version_info[0] < 3:
        nfkd_form = unicodedata.normalize('NFKD', unicode(text_as_string))
    else:
        nfkd_form = unicodedata.normalize('NFKD', str(text_as_string))

    text_input = str(nfkd_form.encode('ASCII', 'ignore'))

    sent_tokens = sent_tokenize(text_input)

    tokens = list(map(word_tokenize, sent_tokens))

    sent_tags = list(map(pos_tag, tokens))

    grammar = r"""
        SENT: {<(J|N).*>}                # chunk sequences of proper nouns
    """

    cp = RegexpParser(grammar)
    ret_tokens = list()
    stemmer_snowball = SnowballStemmer('english')

    for sent in sent_tags:
        tree = cp.parse(sent)
        for subtree in tree.subtrees():
            if subtree.label() == 'SENT':
                t_tokenlist = [tpos[0].lower() for tpos in subtree.leaves()]
                t_tokens_stemsnowball = list(map(stemmer_snowball.stem, t_tokenlist))
                #t_token = "-".join(t_tokens_stemsnowball)
                #ret_tokens.append(t_token)
                ret_tokens.extend(t_tokens_stemsnowball)
            #if subtree.label() == 'V2V': print(subtree)
    #tokens_lower = [map(string.lower, sent) for sent in tokens]

    return(ret_tokens)


def indexing_pipeline(input_df, **kwargs):
    """Runs a full text indexing pipeline on a collection of texts contained in a DataFrame.
    Parameters
    ----------
    input_df (DataFrame): a DataFrame that contains a field called 'text'
    Returns
    -------
    df : the same DataFrames with a column called 'features' for each document
    wordlist : the list of words in the vocabulary with their corresponding IDF
    """
    inputCol_ = kwargs.get("inputCol", "reviews")
    vocabSize_ = kwargs.get("vocabSize", 5000)
    minDF_ = kwargs.get("minDF", 2.0)

    # ugly: to add that to our slave nodes so that it finds the bootstrapped nltk_data
    nltk.data.path.append('/home/hadoop/nltk_data')

    extract_bow_from_raw_text("")  # ugly: for instanciating all dependencies of this function
    tokenizer_udf = udf(extract_bow_from_raw_text, ArrayType(StringType()))
    df_tokens = input_df.withColumn("bow", tokenizer_udf(col(inputCol_)))

    cv = CountVectorizer(inputCol="bow", outputCol="vector_tf", vocabSize=vocabSize_, minDF=minDF_)
    cv_model = cv.fit(df_tokens)
    df_features_tf = cv_model.transform(df_tokens)

    idf = IDF(inputCol="vector_tf", outputCol="features")
    idfModel = idf.fit(df_features_tf)
    df_features = idfModel.transform(df_features_tf)

    return(df_features, cv_model.vocabulary)


#if (__name__ == "__main__"):
#    spark = ps.sql.SparkSession.builder \
#                .master("local[4]") \
#                .appName("df lecture") \
#                .getOrCreate()

#    dfMusical = spark_df
#    df = spark_df.select('reviews', 'attractions').withColumnRenamed("reviewText", "text").limit(100)

#    df, wordlist = indexing_pipeline(df)

#    print("wordlist={}".format(wordlist[0:10]))

In [35]:
df_sydney_, ls_sydney = indexing_pipeline(df_sydney)

In [36]:
ls_sydney[:30]

[u'harbour',
 u'sydney',
 u'more',
 u'ferri',
 u'opera',
 u'hous',
 u'bridg',
 u'view',
 u'beauti',
 u'great',
 u'place',
 u'day',
 u'time',
 u'harbor',
 u'cruis',
 u'mani',
 u'world',
 u'quay',
 u'circular',
 u'restaur',
 u'lot',
 u'best',
 u'area',
 u'water',
 u'boat',
 u'way',
 u'walk',
 u'night',
 u'citi',
 u'man']

In [46]:
len(ls)

886

In [30]:
df_angkor = spark_df.filter(spark_df.attractions == 'Angkor_Thom-Siem_Reap_Siem_Reap_Province')

In [31]:
df_angkor_2, ls_angkor = indexing_pipeline(df_angkor)

In [32]:
ls_angkor[:30]

[u'templ',
 u'angkor',
 u'more',
 u'thom',
 u'wat',
 u'place',
 u'mani',
 u'day',
 u'time',
 u'guid',
 u'great',
 u'beauti',
 u'bayon',
 u'amaz',
 u'citi',
 u'area',
 u'site',
 u'complex',
 u'tour',
 u'lot',
 u'other',
 u'visit',
 u'gate',
 u'histori',
 u'carv',
 u'tuk',
 u'good',
 u'wall',
 u'siem',
 u'reap']

In [47]:
df2.printSchema()

root
 |-- attractions: string (nullable = true)
 |-- reviews: string (nullable = true)
 |-- bow: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- vector_tf: vector (nullable = true)
 |-- features: vector (nullable = true)

In [27]:
df_stone_circles = spark_df.filter(spark_df.attractions == 'Stone_Circles_of_Senegambia-Serekunda_Banjul_Division')

In [28]:
df_stonecircles_2, ls = indexing_pipeline(df_stone_circles)

In [29]:
ls[:30]

[u'stone',
 u'circl',
 u'more',
 u'trip',
 u'wassu',
 u'part',
 u'georgetown',
 u'site',
 u'sure',
 u'day',
 u'farafenni',
 u'small',
 u'gambia',
 u'hour',
 u'littl',
 u'kombo/serrukunda',
 u'local',
 u'place',
 u'way',
 u'inform',
 u'import',
 u'worth',
 u'divers',
 u'stoneman',
 u'pleasant',
 u'fascin',
 u'life',
 u'guid',
 u'heritag',
 u'stop']